
html,body,#root,.App{
  height: 100%;
}


.App{
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.div-button{
  margin-top: auto;
  padding-bottom: 16px;
}

.ripple-button {
  border-radius: 10px;
  border: none;
  height: 52px;
  width: 100%;
  background: #1976d2;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ripple-button .ripple {
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  content: "";
  border-radius: 10px;
  border-radius: 100%;
  animation: 2.5s ease ripple-effect;
  opacity: 1;

}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  35% {
    transform: scale(15);
    opacity: 0.7;
  }

  50% {
    transform: scale(35);
    opacity: 0.4;
  }
  
  75% {
    transform: scale(20);
    opacity: 0.2;
  }
  
  100% {
    transform: scale(15);
    opacity: 0;
  }
}
